.faq__questions-item-form{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-flow: column;

  & > *{
    flex-grow: 1;
    padding: 1rem;
    width: 100%
  }
  & input{
    height: 5rem;
    font-size: 2.5rem;
    font-family: "Open Sans", sans-serif;
    &::placeholder{
      color: $color-black;
    }
  }
  & textarea{
    height: 15rem;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    &::placeholder{
      color: $color-black;
    }
  }
  & i{

  }
}


.addIcon{
  align-self:  flex-end;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items:center;
  transition: all .2s;
  background: $color-Spring-green;
    color: $color-white;
  &:hover{

    background: $color-orangered;
  }

}

.faq__questions-item-removeIcon{
  position: relative;
  overflow: visible;
}

.faq__fix{
  padding-bottom: 0;

}


.removeIcon{
  align-self:  flex-end;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items:center;
  transition: all .2s;
  background: $color-secondary-pink;
  color: $color-white;
  &:hover{
    background: $color-red;
  }
}


.price{
  position: relative;
  & input{
    width: 35rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    // margin: 1rem auto;
  }
}
