.landingScreen3__cardWrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 10rem;
  margin-bottom: 3rem;
  @include respond(tab-land){
    margin: 0 0rem;
  }
  @include respond(tab-port){
    flex-flow: column;
    align-items: center;
  }
  @include respond(phone){
    margin: 0 0rem;
  }
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin: 3rem 3rem;
    @include respond(tab-land){
      margin: 1rem 1rem;
    }
    @include respond(phone){
      display: flex;
      justify-content: center;
      flex-flow:column;
      margin: 1rem auto;
    }
}
.card__side {
    height: 50vh;
    transition: all 0.8s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 50vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 1rem 5rem  rgba($color-postman-background, 0.5);
    @include respond(tab-land){
       height: 50vh;
       width: 30vh;
    }
    @include respond(tab-land){
      height: 50vh;
      width: 100%;
   }

}
.card__side--front {
    border-bottom: 1rem solid $color-secondary-blue;
    border-left: 1rem solid $color-secondary-blue;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-image{
      width: 60%;
      height: 60%;
      object-fit: fill;
      object-position: center;
      bottom: 0;
      margin: 0 auto;
    }
    &-head{
       font-size: 2.5rem;
       font-weight: bold;
       letter-spacing: 2px;
       padding: 1rem ;
       padding-top: 1rem;

    }
    &-para{
      font-size: 1.8rem;
      font-weight: normal;
      letter-spacing: 2px;
      padding: 1rem;
      padding-bottom:  1rem;
    }
    @include respond(tab-port){
      border: none;
      &-image{
        width: 50%;
        height: 50%;
        bottom: 0;
      }
      &-head{
         font-size: 2.5rem;
         font-weight: 500;
         background: $color-secondary-blue;
         color: $color-white;
         margin-bottom: 1rem;
      }
      &-para{
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 2px;
        padding: 1rem;
        padding-bottom:  1rem;
      }
    }

}
.card__side--back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 2rem;
    text-align:center;
    & .for{
      color:$color-black;
      font-size: 2.5rem;
      font-family: "PT Sarif", serif;
      @include respond(tab-land){
        font-size: 2.2rem;
        font-weight: 800;
      }
    }
    &:last-child{
      color:$color-grey;
      font-size: 2rem;
      font-family: "PT Sans", sans-serif;
      @include respond(tab-land){
        font-size: 2rem;
        font-weight: 500;
      }
    }
}

.card:hover .card__side--front {
    position: relative;
    transform: rotateY(-180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0);
}
