.post{
    margin:  5rem 45rem;
    @include respond(tab-land){
      margin:  2rem 10rem;
    }
    @include respond(tab-port){
      margin:  2rem 5rem;
    }
    @include respond(phone){
      margin:  2rem;
    }
      &-title{
        font-family: "Open Sans",sans-serif;
        font-size: 2.5rem;
        font-weight: bolder;
        padding-bottom: 1rem;
      }
      &-info{
        font-family: "Open Sans",sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        padding-bottom: 3rem;
        &-by{
         color: $color-grey;
        }
        &-date{
         color: $color-grey;
        }
      }
      &-content{
        color: $color-grey;
        font-family: "Open Sans",sans-serif;
        font-size: 2rem;
        font-weight: 400;
        padding-bottom: 1rem;
        & td{
          & img{
            width: 100%;
            
          }
        }
      }
      &-goBack{
        ont-family: "Open Sans",sans-serif;
        font-size: 2rem;
        font-weight: 500;
        padding: 2rem 0;
        color: $color-primary-blue;
        &:hover{
          color: $color-Spring-green;
          text-decoration: none;
        }
      }
    }
