

.faq{
  background: rgba($color-grey-light,.1);
  // width: 100vw;
  padding-bottom: 5rem;
  &__head{
    text-align: center;
    font-weight: 400;
    font-size: 4.5rem;
    padding: 3rem 40rem;
  }
  &__questions{
    &-item{
      overflow: hidden;
      cursor: pointer;
    font-size: 2rem;
    // border-radius: 18px;
    background: $color-white;
    padding: 3rem 2rem;
    margin:  3rem 15rem;
    box-shadow: 0 0 5rem -3rem rgba($color-black,.5);
    transition: all .2s;

    & h6{
      margin-top:1rem;
      font-weight: 400;
      animation: para .5s ease-out;
    }
    & p{
      display:flex;
      justify-content:space-between;
      align-items: center;
       // margin: 3rem;
    }
    &:hover{
      background: rgba($color-react-blue,.2);
    }
  }

  }
}

@keyframes para {
  from{
     transform: translateY(500%);

  }to{
      transform: translateY(0%);
  }
}
@include respond(tab-land){
  .faq{
    &__head{
      text-align: center;
      font-weight: 400;
      font-size: 4rem;
      padding: 3rem 10rem;
    }
    &__questions{
      &-item{
      margin:  5rem 10rem;

    }

    }
  }
}
@include respond(tab-port){
  .faq{
    &__head{
      text-align: center;
      font-weight: 400;
      font-size: 3.5rem;
      padding: 3rem 5rem;
    }
    &__questions{
      &-item{
        margin:  1rem 5rem;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    }
  }
}

.renderAnimation{
  animation: renderAnimation .5s linear;
  animation-fill-mode: forwards;
}
@keyframes renderAnimation {
  from{
     transform: rotate(0deg);
     // position: absolute;
     // top: 5%;
     // right: 5%;
  }to{
    // position: absolute;
    // top: 95%;
    // right: 5%;
      transform: rotate(540deg);
  }
}
.renderAnimation2{
  animation: renderAnimation2 .3s linear;
  animation-fill-mode: forwards;
}
@keyframes renderAnimation2 {
  from{
     transform: rotate(0deg);
     // position: absolute;
     // top: 5%;
     // right: 5%;
  }to{
    // position: absolute;
    // top: 95%;
    // right: 5%;
      transform: rotate(-360deg);
  }
}
.doubleArrow{
  font-size: 3rem;
  animation-fill-mode: forwards;
}
